# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
**/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
credentials-fixed.json
google-service-account.json
src/lib/nfb-service-account.json
new-google-credentials.txt
updated-env-credentials.txt
nfbsalon/
nfbsalon1/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
